@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Yellowtail&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;

}
.input{
    width: 95%;
}
h1{
    text-align: center;
    font-weight: 500;
}
form{
    width: 80%;
    margin: auto;
}
label{
    text-align: left;
}
main{
    width: 90%;
    margin: auto;
}
main>p{
    margin-top: 0;
}
form button{
    width: 10%;
    height: 25px;
    font-size: 1em;
    border: 0;
    border-radius: 5px;
    color: #f2f2f2;
    background-color: #3b945e;
}
#head{
    font-size: 2em;
    text-align: left;
}