body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    width: 80%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
.timeline ul{
    list-style-type: none;
}
.timeline ul li{
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: burlywood;
}
.timeline ul li:last-child{
    margin-bottom: 0;
}
.timeline-list h1{
    font-size: 1.4em;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;
}
.timeline-list p{
    font-size: 1em;
    line-height: 30px;
    font-weight: 300;
}
@media screen and (min-width:768px){
    /* .timeline::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: gray;
        left: 50%;
        transform: translateX(-50%);
    } */
    .timline ul li{
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }
    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-30px);
    }
    /*.timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(30px);
    }
    .timeline ul li::after{
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: green;
        border-radius: 50px;
        top: 0;
    }
    .timeline ul li:nth-child(odd)::after{
        right: -30px;
    } */
}