body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f2f2;
}
#page-top{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#ham{
    display: flex;
    justify-content: flex-end;
}
#ham img{
    margin: 3%;
    cursor: pointer;
}
#ul{
    list-style-type: none;
    display: flex;
    width: 50%;
    margin: 0;
    justify-content: space-evenly;
    margin-left: auto;
    align-items: center;
    padding-left: 0%;
}
#ul a{
    text-decoration: none;
    color: black;
}
#ul li{
    font-size: 2em;
}
nav{
    display: block;
}
#top-main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text,#sub-text{
    margin: 0;
    text-align: center;
    display: inline-block;
}
#text{
    font-size: 5em;
    font-family: 'Yellowtail', cursive;
    animation: text 1.3s ease; /* Change later add delay*/
}
@keyframes text {
    0%{
        font-size: 0em;
    }
    88%{
        font-size: 5em;
    } 
    90%{
        font-size: 4.9em;
    }
    100%{
        font-size: 5em;
    }
}
#sub-text{
    font-size: 2em;
    animation: sub 1.3s ease; /*Change later add delay*/
}
@keyframes sub {
    0%{
        font-size: 0em;
    }
    100%{
        font-size: 2em;
    }
}
/* #content{
    margin-top: 10%;
} */
header{
    font-size: 2em;
    text-align: center;
    margin-bottom: 3%;
}
#mid-main{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin: 0 10px;
}
article{
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 10%;
}
article>img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
article button{
    border: 0;
    height: 25px;
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
    background-color: #3b945e;
}
#code{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* background slider */
/* #head-in{
    text-align: center;
}
#head{
    background-color: turquoise;
    width: 10%;
    text-align: center;
    display: flex;
} */









footer{
    background-color: #182628;
    padding: 10px 0;
    color: white;
}
footer p{
    cursor: default;
}
footer ul{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding-left: 15%;
}
footer ul a{
    text-decoration: none;
    color: white;
}
footer ul a:hover{
    color: gray;
}
@media screen and (max-width:768px){
    #ham img{
        width: 5%;
    }
    #ul{
        position: fixed;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        background-color: #ececec;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 0.5s ease-in-out;
    }
    #ul.open{
        clip-path: circle(1300px at 90% -20%);
        -webkit-clip-path: circle(1300px at 90% -20%);
    }
    #ham.open{
        background-color: #ececec;
        transition: all 0.5s ease-in-out;
    }
}
@media screen and (min-width:769px){
    #ham img{
        width: 3%;
    }
    #ul{
        position: fixed;
        height: 90vh;
        width: 100%;
        background-color: #ececec;
        flex-direction: column;
        clip-path: circle(100px at 90% -20%);
        -webkit-clip-path: circle(100px at 90% -20%);
        transition: all 0.5s ease-in-out;
    }
    #ul.open{
        clip-path: circle(1600px at 90% -20%);
        -webkit-clip-path: circle(1600px at 90% -20%);
    }
    #ham.open{
        background-color: #ececec;
        transition: all 0.5s ease-in-out;
    }
}