body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #16FFBD; */
}
#page-top{
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
nav{
    display: block;
}
#top-main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text,#sub-text{
    margin: 0;
    text-align: center;
    display: inline-block;
}
#text{
    font-size: 5em;
    font-family: 'Yellowtail', cursive;
    animation: text 1.3s ease ;
}
@keyframes text {
    0%{
        font-size: 0em;
    }
    88%{
        font-size: 5em;
    } 
    90%{
        font-size: 4.9em;
    }
    100%{
        font-size: 5em;
    }
}
#sub-text{
    font-size: 2em;
    animation: sub 1.3s ease;
}
@keyframes sub {
    0%{
        font-size: 0em;
    }
    100%{
        font-size: 2em;
    }
}
#content{
    margin-top: 10%;
}
header{
    font-size: 2em;
    text-align: center;
    margin-bottom: 3%;
}
#mid-main{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 10px;
    margin: 0 10px;
}
article{
    display: flex;
    flex-flow: column wrap;
}
article>img{
    /* margin-bottom: 4px; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
article button{
    /* background-color:#F070A1; */
    border: 0;
    height: 25px;
    font-size: 1em;
    border-radius: 2px;
    cursor: pointer;
}
#code{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* margin: 4px 0px; */
}
#head-in{
    text-align: center;
}
#head{
    background-color: turquoise;
    width: 10%;
    text-align: center;
    /* display: flex; */
}